/* Style for cake details page */
/* #mainImg{
    background-image:url('http://4.bp.blogspot.com/-sbpJrKlHCXA/VOmV6vxWpXI/AAAAAAAAAQY/7jPzIfW5HA0/s1600/4.jpg');
    background-size:384px 384px;
} */
.flavor-radio{
    display:none !important;
}
.flavor-radio[type="radio"]:checked + .flavor-label {
    background: grey;
    color: #fff;
  }